<div class="row mt-4">
  <div
    class="col-lg-6 col-md-6 col-sm-12 text-lg-start text-md-start text-sm-center text-center"
  >
    <h4>
      {{ searchQuery ? 'Current search: ' + searchQuery : 'Trending GIFs:' }}
    </h4>
  </div>
  <div
    class="col-lg-6 col-md-6 col-sm-12 text-lg-end text-md-end text-sm-center text-center"
    *ngIf="searchQuery"
  >
    <div
      *ngFor="let tag of tags$ | async; trackBy: trackByIndex"
      class="badge rounded-pill bg-secondary ms-1"
      (click)="searchGifs(tag.name)"
    >
      {{ tag.name }}
    </div>
  </div>
  <div class="col-12">
    <hr class="bg-danger border-1 border-top border-dark" />
  </div>
</div>
