@import 'variables';

@mixin shadow() {
  box-shadow: 2px 2px 2px 0 rgba($dark-grey, 0.2),
    4px 4px 4px 0 rgba($dark-grey, 0.1);
  border: 1px solid transparentize($dark-grey, 0.7);
}

@mixin box-shadow() {
  box-shadow: 0 0 0 0.25rem transparentize($brand, 0.75);
}
